@using HorizonHR.Services
@model dynamic
@{
    int pageNumber = Model.PageNumber;
    int totalPages = Model.TotalPages;
    string pageUrl = Model.PageUrl;
}

@if (totalPages > 1)
{
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item @(pageNumber <= 1 ? "disabled" : "")">
                <a class="page-link" href="@pageUrl&pageNumber=@(pageNumber - 1)">Previous</a>
            </li>
            @for (var i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == pageNumber ? "active" : "")">
                    <a class="page-link" href="@pageUrl&pageNumber=@i">@i</a>
                </li>
            }
            <li class="page-item @(pageNumber >= totalPages ? "disabled" : "")">
                <a class="page-link" href="@pageUrl&pageNumber=@(pageNumber + 1)">Next</a>
            </li>
        </ul>
    </nav>
}
